@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .col-flex {
    @apply flex flex-col;
  }

  .flex-center {
    @apply justify-center items-center;
  }

  .line-fit-br {
    @apply -my-1;
  }

  .content-none::after {
    content: "";
  }

  .disable {
    @apply cursor-not-allowed bg-[#373737];
  }

  .pointable {
    @apply cursor-pointer transition-all duration-100 hover:opacity-60;
  }
}

@font-face {
  font-family: "PretendardVariable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("./PretendardVariable.woff2") format("woff2-variations");
}

@keyframes compUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes compDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-620px);
  }
}

@keyframes scrollRev {
  0% {
    transform: translateX(-620px);
  }
  100% {
    transform: translateX(0);
  }
}

.scrolling-slider {
  animation: scroll 10s linear infinite;
}

.scrolling-slider-rev {
  animation: scrollRev 10s linear infinite;
}

.move-up {
  animation: compUp 0.5s ease forwards;
}

.move-down {
  animation: compDown 0.5s ease forwards;
}

img {
  @apply inline-block;
}

.preload {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:
    background-color 0s,
    opacity 0s,
    color 0s,
    width 0s,
    height 0s,
    padding 0s,
    margin 0s !important;
}

* {
  font-family: "PretendardVariable" !important;
  user-select: none;
  border-color: white;
  overscroll-behavior: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333333 inset;
  box-shadow: 0 0 0px 1000px #333333 inset;
  -webkit-text-fill-color: #fff; /* 텍스트 색상 지정 */
  border-radius: 10px;
}

input.item:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222222 inset;
  box-shadow: 0 0 0px 1000px #222222 inset;
  -webkit-text-fill-color: #fff; /* 텍스트 색상 지정 */
}

canvas:not(.react-pdf__Page__canvas) {
  width: 100% !important;
  height: 100% !important;
}

span,
label,
input,
textarea,
li {
  color: white;
  outline: none;
}

input,
textarea {
  background-color: transparent;
}

select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: gray;
}

body {
  background: #222222;
}

.css-k7lbue {
  padding: 0 !important;
}

.css-qa4clq {
  max-width: 100% !important;
}

.sbdocs-content {
  background: #333333;
}
