@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .col-flex {
    @apply flex flex-col;
  }

  .flex-center {
    @apply justify-center items-center;
  }

  .line-fit-br {
    @apply -my-1
  }

  .disable {
    @apply cursor-not-allowed bg-[#373737];
  }

  .pointable {
    @apply cursor-pointer transition-all duration-100 hover:opacity-60;
  }


}

@font-face {
  font-family: "PretendardVariable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("./PretendardVariable.woff2") format("woff2-variations");
}

* {
  font-family: "PretendardVariable" !important;
  user-select: none;
  border-color: white;
  overscroll-behavior: none;
}

span, label, input, textarea {
  color: white;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

body {
  background: #2e2e2e;
}

.css-k7lbue {
  padding: 0 !important;
}

.css-qa4clq {
  max-width: 100% !important;
}

.sbdocs-content {
  background: #333333;
}